### MY470 Computer Programming
# Useful Python Modules and Libraries
### Week 11 Lab

## Working with Dates: `datetime`

https://docs.python.org/3/library/datetime.html

In [6]:
from datetime import datetime, timedelta


# Transform string into datetime object
string = '2002-02-25 15:51:15'
dt = datetime.strptime(string, "%Y-%m-%d %H:%M:%S")
print(type(dt), dt)


# Get difference between two dates

day1 = dt - datetime(2002, 2, 24, 15, 51, 15)
print(type(day1), day1)

day2 = timedelta(hours=24)
print(type(day2), day2)

<class 'datetime.datetime'> 2002-02-25 15:51:15
<class 'datetime.timedelta'> 1 day, 0:00:00
<class 'datetime.timedelta'> 1 day, 0:00:00

## Saving Python Objects to Disk: `pickle`

https://docs.python.org/3/library/pickle.html

In [12]:
import pickle

# Note: Open files in binary mode

# Pickle Python object
obj = {1:'a', 2:'b'}
with open ('dict_pickle', 'wb') as fw:
    pickle.dump(obj, fw)

# Unpickle saved Python object
with open ('dict_pickle', 'rb') as fr:
    obj_retrieved = pickle.load(fr)
    
print(type(obj_retrieved), obj_retrieved)

<class 'dict'> {1: 'a', 2: 'b'}

In [2]:
# Exercise 1: Read the file enwiki_2002_sample.txt and save the data 
# in a variable as a list. Make sure all data are in the correct
# data type, e.g., save dates as datetime objects.
# Print the first 3 elements of the list to confirm.

In [1]:
# Exercise 2: Pickle the list variable from exercise 1. 
# Then load it back in memory from the pickle.

# Useful Libraries for Computational Social Science and Social Data Science

* NumPy
* Pandas
* StatsModels
* NetworkX
* Scikit-learn
* Matplotlib (covered in week 10)

## NumPy

![NumPy](figs/numpy.png "NumPy")

* Python library for operating with large multi-dimensional arrays and matrices
* Partially written in C, so optimized for performance
* Offers fast numerical computations and high-level math functions
* Provides functionality similar to MATLAB (especially together with `scipy` and `matplotlib`)

## NumPy Arrays

* Multi-dimensional: 0 (scalar), 1 (vector), 2 (matrix), 3 (e.g., image), ...
* Dense: all elements exist
* Homogeneous: all elements are of the same type

In [2]:
import numpy as np

a = np.array([[1, 2, 3], [4, 5, 6]])
print(a)
print(type(a))
print(a.ndim, a.shape, a.dtype) # Notice the lack of () - these are properties, not methods

[[1 2 3]
 [4 5 6]]
<class 'numpy.ndarray'>
2 (2, 3) int64

## Creating Arrays

In [11]:
a = np.zeros((3, 3))  # create a 3x3 array of float zeros
a

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [12]:
# NumPy is implemented in C and supports more numerical types than Python
# See: https://docs.scipy.org/doc/numpy/user/basics.types.html
a = np.ones((4, 3), dtype = np.int16)  # create a 4x3 array of integer ones where integer type (-32768 to 32767)
a

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]], dtype=int16)

In [16]:
r = np.random.random((2, 4))  # create a 2x4 array of floats drawn uniformly from [0., 1.)
r

array([[ 0.3250227 ,  0.87314983,  0.82323188,  0.94213925],
       [ 0.79389486,  0.87107508,  0.8342683 ,  0.88532873]])

## Reshaping and Transposing Arrays

In [6]:
a = np.arange(10)  # Creates an array of numbers from 0 to input (like Python range() but step could be non-integer)
print(a)
a = a.reshape(5, 2) # reshape to 5x2
print(a)

[0 1 2 3 4 5 6 7 8 9]
[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [15]:
at = np.transpose(a)  # reverse dimensions of a
at

array([[0, 2, 4, 6, 8],
       [1, 3, 5, 7, 9]])

## Indexing Arrays

In [10]:
a = np.array([[1, 2, 3], [4, 5, 6]])
print(a[0, -1])  # first row, last column
print(a[1, :])  # entire second row 
c = np.array([[True, True, False], [False, False, True]])
print(a[c])  # elements of a that are True in c

3
[4 5 6]
[1 2 6]

## Mathematical Operations with Arrays

* Arithmetic operations are element-wise

In [15]:
b = np.array([[10, 20, 30], [40, 50, 60]])
print(a * b)
print(a + b)  # arrays must be same shape

print([1, 2, 3] + [10, 20, 30]) # in comparison, lists get concatenated

[[ 10  40  90]
 [160 250 360]]
[[11 22 33]
 [44 55 66]]
[1, 2, 3, 10, 20, 30]

In [35]:
print(np.exp(a))
print(np.sqrt(b))

[[   2.71828183    7.3890561    20.08553692]
 [  54.59815003  148.4131591   403.42879349]]
[[ 3.16227766  4.47213595  5.47722558]
 [ 6.32455532  7.07106781  7.74596669]]

* Logical operations return a Boolean array

In [16]:
b > 15

array([[False,  True,  True],
       [ True,  True,  True]], dtype=bool)

* Matrix multiplication with `@`

In [38]:
a @ np.transpose(b)

array([[140, 320],
       [320, 770]])

## Pandas

![Pandas](figs/pandas.png "Pandas")

* Python library for data manipulation and analysis 
    * The name is derived from **pan**el **da**ta = **pandas**
    * Partially written in C, so optimized for performance
* Key features
    * DataFrame object to hold and manipulate data
    * Read from and write in multiple file formats
    * Fancy indexing (including hierarchical)
    * Operations to handle missing data
    * Operations to slice, subset, split, reshape, pivot, merge, and join data sets

## `DataFrame`

* Primary `pandas` object
* 2-d heterogeneous tabular data structure with axes labels (rows and columns)
* like a `dict` for lists (more precisely, `pd.Series`)

In [1]:
import pandas as pd
import numpy as np

In [3]:
# Create DataFrame from dictionary
d = {'Col1': [1, 2, 3], 'Col2': ['a', 'b', np.nan]}
df1 = pd.DataFrame(data=d)
df1

   Col1 Col2
0     1    a
1     2    b
2     3  NaN

In [4]:
# Create DataFrame from list or array
df2 = pd.DataFrame(data=[[1, 'a'], [2, 'b'], [3, np.nan]], 
                  index=['Row1', 'Row2', 'Row3'], columns=['Col1', 'Col2'])
print(df2)

      Col1 Col2
Row1     1    a
Row2     2    b
Row3     3  NaN

## Importing and Viewing Data

In [3]:
# Data source: https://vincentarelbundock.github.io/Rdatasets/doc/carData/States.html

df3 = pd.read_csv('States.csv')
print(df3.head())

  state region    pop  SATV  SATM  percent  dollars  pay
0    AL    ESC   4041   470   514        8    3.648   27
1    AK    PAC    550   438   476       42    7.887   43
2    AZ    MTN   3665   445   497       25    4.231   30
3    AR    WSC   2351   470   511        6    3.334   23
4    CA    PAC  29760   419   484       45    4.826   39

In [26]:
print(df3.columns)
print(df3.dtypes)
print(df3.describe())

Index(['state', 'region', 'pop', 'SATV', 'SATM', 'percent', 'dollars', 'pay'], dtype='object')
state       object
region      object
pop          int64
SATV         int64
SATM         int64
percent      int64
dollars    float64
pay          int64
dtype: object
                pop        SATV        SATM    percent    dollars        pay
count     51.000000   51.000000   51.000000  51.000000  51.000000  51.000000
mean    4876.647059  448.156863  497.392157  33.745098   5.175490  30.941176
std     5439.202691   30.821014   34.568817  24.073922   1.376166   5.308151
min      454.000000  397.000000  437.000000   4.000000   2.993000  22.000000
25%     1215.000000  422.500000  470.000000  11.500000   4.354000  27.500000
50%     3294.000000  443.000000  490.000000  25.000000   5.045000  30.000000
75%     5780.000000  474.500000  522.500000  57.500000   5.689500  33.500000
max    29760.000000  511.000000  577.000000  74.000000   9.159000  43.000000

## Selecting Data

In [27]:
df3.state  # Select column; equivalent to df3['state']

0     AL
1     AK
2     AZ
3     AR
4     CA
5     CO
6     CN
7     DE
8     DC
9     FL
10    GA
11    HI
12    ID
13    IL
14    IN
15    IA
16    KS
17    KY
18    LA
19    ME
20    MD
21    MA
22    MI
23    MN
24    MS
25    MO
26    MT
27    NE
28    NV
29    NH
30    NJ
31    NM
32    NY
33    NC
34    ND
35    OH
36    OK
37    OR
38    PA
39    RI
40    SC
41    SD
42    TN
43    TX
44    UT
45    VT
46    VA
47    WA
48    WV
49    WI
50    WY
Name: state, dtype: object

In [28]:
df3[:3] # Select data by rows

  state region   pop  SATV  SATM  percent  dollars  pay
0    AL    ESC  4041   470   514        8    3.648   27
1    AK    PAC   550   438   476       42    7.887   43
2    AZ    MTN  3665   445   497       25    4.231   30

In [29]:
df3[df3['pop'] > 10000]  # Select data by column value

   state region    pop  SATV  SATM  percent  dollars  pay
4     CA    PAC  29760   419   484       45    4.826   39
9     FL     SA  12938   418   466       44    5.154   30
13    IL    ENC  11431   466   528       16    5.062   34
32    NY     MA  17990   412   470       70    8.500   42
35    OH    ENC  10847   450   499       22    5.639   32
38    PA     MA  11882   420   463       64    6.534   36
43    TX    WSC  16987   413   461       42    4.238   28

## Grouping

In [30]:
# Add a column that indicates whether state performed above median on SAT
df3['SAT'] = df3['SATV'] + df3['SATM']
df3['above-avg'] = df3['SAT'] > df3['SAT'].median()
df3.head()

  state region    pop  SATV  SATM  percent  dollars  pay  SAT above-avg
0    AL    ESC   4041   470   514        8    3.648   27  984      True
1    AK    PAC    550   438   476       42    7.887   43  914     False
2    AZ    MTN   3665   445   497       25    4.231   30  942      True
3    AR    WSC   2351   470   511        6    3.334   23  981      True
4    CA    PAC  29760   419   484       45    4.826   39  903     False

In [31]:
# Get mean indicators by SAT performance
df3.groupby('above-avg').mean()

,pop,SATV,SATM,percent,dollars,pay,SAT
above-avg,,,,,,,
False,6047.461538,422.076923,468.423077,54.615385,5.940538,33.807692,890.5
True,3659.000000,475.280000,527.520000,12.040000,4.379840,27.960000,1002.8

## StatsModels

![Statsmodels](figs/statsmodels_hybi_banner.png "Statsmodels")

* Python library for estimating statistical models and conducting statistical tests
* Uses `numpy` for estimation
* Integrates with `pandas` for data handling
* Provides an `R`-like formula interface

## Typical Steps

1. Get data (`pandas`)
* Inspect data (`pandas`, `matplotlib`)
* Define and fit model (`statsmodels`)
* Inspect model results (`statsmodels`, `matplotlib`)
* Inspect model fit (`statsmodels`, `matplotlib`)

## OLS Example: Inspect Data

In [19]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Get data
df = pd.read_csv('States.csv')
print(df.head())

  state region    pop  SATV  SATM  percent  dollars  pay
0    AL    ESC   4041   470   514        8    3.648   27
1    AK    PAC    550   438   476       42    7.887   43
2    AZ    MTN   3665   445   497       25    4.231   30
3    AR    WSC   2351   470   511        6    3.334   23
4    CA    PAC  29760   419   484       45    4.826   39

In [32]:
# Inspect data
print(df.describe())

                pop        SATV        SATM    percent    dollars        pay
count     51.000000   51.000000   51.000000  51.000000  51.000000  51.000000
mean    4876.647059  448.156863  497.392157  33.745098   5.175490  30.941176
std     5439.202691   30.821014   34.568817  24.073922   1.376166   5.308151
min      454.000000  397.000000  437.000000   4.000000   2.993000  22.000000
25%     1215.000000  422.500000  470.000000  11.500000   4.354000  27.500000
50%     3294.000000  443.000000  490.000000  25.000000   5.045000  30.000000
75%     5780.000000  474.500000  522.500000  57.500000   5.689500  33.500000
max    29760.000000  511.000000  577.000000  74.000000   9.159000  43.000000

## OLS Example: Fit Model

In [31]:
# Define regression model 
model = smf.ols('SATV ~ percent + dollars + pay + np.log(pop)', data=df)
# Fit model
results = model.fit()
# Inspect results
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   SATV   R-squared:                       0.782
Model:                            OLS   Adj. R-squared:                  0.763
Method:                 Least Squares   F-statistic:                     41.35
Date:                Tue, 11 Sep 2018   Prob (F-statistic):           1.11e-14
Time:                        10:39:43   Log-Likelihood:                -207.81
No. Observations:                  51   AIC:                             425.6
Df Residuals:                      46   BIC:                             435.3
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------
Intercept     508.6092     19.627     25.914      0.000       469.102   548.116
percent        -1.2205      0.127     -9.592      0.000        -1.477    -0.964
dollars         5.1671      3.320      1.556      0.126        -1.515    11.850
pay            -0.4942      0.832     -0.594      0.555        -2.168     1.180
np.log(pop)    -3.8421      2.261     -1.699      0.096        -8.393     0.709
==============================================================================
Omnibus:                        0.275   Durbin-Watson:                   2.137
Prob(Omnibus):                  0.872   Jarque-Bera (JB):                0.464
Skew:                          -0.061   Prob(JB):                        0.793
Kurtosis:                       2.549   Cond. No.                         479.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## NetworkX

![NetworkX](figs/networkx.png "NetworkX")

* Library for studying networks
* The major data structures are of the type "dictionary of dictionaries"
* Capabilities:
    * Estimate common network measures
    * Construct random networks
    * Visualize networks
    * Convert networks to and from different formats

## Creating Networks

In [5]:
import networkx as nx

# Create an empty network
G = nx.Graph()  
# Add nodes to network
G.add_node(1)
G.add_nodes_from([2,3])
print(G.nodes())
G.nodes()

[1, 2, 3]

NodeView((1, 2, 3))

In [6]:
# Add edges to network (nodes are automatically added if they don't exist already)
G.add_edge(1, 2)
G.add_edges_from([(2, 3), (1, 3), (1, 4)])
print(G.edges())
print(G.nodes())

[(1, 2), (1, 3), (1, 4), (2, 3)]
[1, 2, 3, 4]

## Node and Edge Attributes

In [7]:
# Add/modify node attributes
G.nodes[1]['name'] = 'Anna'
G.add_node(5, name='Elliot')
G.add_nodes_from([6, 7], name='Fathima')
G.nodes.data()

NodeDataView({1: {'name': 'Anna'}, 2: {}, 3: {}, 4: {}, 5: {'name': 'Elliot'}, 6: {'name': 'Fathima'}, 7: {'name': 'Fathima'}})

In [8]:
# Add/modify edge attributes
G.add_edge(5, 6, weight=2)
G.add_edges_from([(1, 2), (1, 3)], weight=1)
G[1][2]['weight'] = 1.7
G.edges[2, 3]['weight'] = 1.5
G.edges.data()

EdgeDataView([(1, 2, {'weight': 1.7}), (1, 3, {'weight': 1}), (1, 4, {}), (2, 3, {'weight': 1.5}), (5, 6, {'weight': 2})])

## Analyzing Networks

In [9]:
# Estimate node degrees -- returns a DegreeView object capable of iterating (node, degree) pairs
G.degree()

DegreeView({1: 3, 2: 2, 3: 2, 4: 1, 5: 1, 6: 1, 7: 0})

In [10]:
# Estimate node clustering
# The method returns dictionary -- it's good example about the importance of consistency!
nx.clustering(G)

{1: 0.3333333333333333, 2: 1.0, 3: 1.0, 4: 0, 5: 0, 6: 0, 7: 0}

In [11]:
# Identify the connected subcomponents in the network -- returns a generator!
nx.connected_components(G)

* Despite these inconsistencies, `networkx` is a powerful library for network analysis (although not so much for visualization)
* When in doubt or confused, simply consult the documentation!

## Scikit-learn

![Scikit-learn](figs/scikitlearn.png "Scikit-learn")

* Machine-learning library for Python
* Includes various algorithms
    * Supervised learning
        * Classification
        * Regression
    * Unsupervised learning
        * Clustering
        * Dimensionality reduction
* Includes classes for model evaluation and model selection
* Integrates with `numpy`

## The `scikit-learn` Estimators

The estimator is an object (instance of a class) that learns from data. 

Unsupervised learning estimators have the `fit` method:
* `fit(data)`

Supervised learning estimators have `fit` and `predict` methods:
* `fit(X, y)` to known data
* `predict(T)` unknown data

## Example: K-Means Clustering

Tsvetkova, M., García-Gavilanes, R., Floridi, L., & Yasseri, T. (2017). [Even good bots fight: The case of Wikipedia](https://doi.org/10.1371/journal.pone.0171774). *PloS One*, 12(2), e0171774.

![Bots study in the Sun](figs/bots_media.png "Bots study in the Sun")

## Example: K-Means Clustering

### 1. Define features

![Defining features](figs/kmeans_features.png "Defining features")

## Example: K-Means Clustering

### 2. Select model

![Selecting k-means model](figs/kmeans_elbow_silhouette.png "Selecting k-means model")

In [ ]:
'''
import numpy as np
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

xs = range(1, 11) 
ks = range(2,11)
elbow = {i:[] for i in xs}
sh = {i:[] for i in xs}

for x in xs:
    # Get data as numpy.ndarray restricted to interaction trajectories larger than x
    # Use only relevant features (columns 3, 5, and 6)
    data = np.loadtxt('cluster_data_'+str(x)+'.csv', delimiter =',', skiprows=1, usecols=(3,5,6))
    for k in ks:
        # Create estimator for given k and fit estimator to data
        est = KMeans(n_clusters=k) 
        est.fit(data)
        # Save model performance measures
        elbow[x].append(est.inertia_)
        sh[x].append(silhouette_score(data, est.labels_, metric='euclidean', sample_size=10000, random_state=5))
'''

## Example: K-Means Clustering

### 3. Identify clusters

![Identify clusters](figs/kmeans_clusters.png "Identify clusters")

## Example: K-Means Clustering

### 4. Analyze clusters to answer research question

![Analyze clusters](figs/kmeans_cluster_distribution.png "Analyze clusters")